{
  "extends": ["@cognite"],
  "rules": {
    "class-methods-use-this": [
      0
    ],
    "no-param-reassign": [
      0
    ],
    "no-plusplus": [
      0
    ],
    "no-underscore-dangle": [
      0
    ]
  }
}